<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="center center" class="nombre-dialogo">{{tituloModal}}</h1>
<form [formGroup]="formSector" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="descripcion" placeholder="Nuevo Sector" required autocomplete="off" > 
      <mat-error *ngIf="descripcion">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial type="submit">Grabar</button>
    <button mat-button (click)="onCancel()" type="button">Cancelar</button>
  </div>
</form>
