<mat-toolbar class="titulo mat-elevation-z2 top-shadow" color="primary">
    <mat-toolbar-row>
        <span>Presupuesto</span>
        <span class="spacer"></span>
        <a mat-raised-button *ngIf="presupuestoCount === 0">
            Nuevo Presupuesto
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<div class="component-wrapper">

    <!-- Botón nuevo -->
    <a [routerLink]="['nuevo-presupuesto']" *ngIf="presupuestoCount > 0" mat-raised-button class="button uppercase"
        color="accent">
        <mat-icon>add</mat-icon>
        Nuevo
    </a>
    <!-- Filtros de Fecha -->
    <div class="datepicker" fxLayoutAlign="end start">
        <!-- Buscar -->
        <div fxLayoutAlign="end start">
            <mat-form-field class="cell-size-25">
                <input matInput placeholder="Buscar" (keyup)="applyFilter($event.target.value)" #search
                    autocomplete="off">
            </mat-form-field>
        </div>
        <mat-form-field class="cell-size-25">
            <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicial" [formControl]="date"
                (dateInput)="filtroFecha($event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="cell-size-25">
            <input matInput [matDatepicker]="picker2" placeholder="Fecha Final" [value]="date.value" [min]="date.value"
                [formControl]="serializedDate" (dateInput)="filtroFecha($event)">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <!-- Spinner -->
    <sag-spinner *ngIf="this.presupuestoService.isLoading$ | async"></sag-spinner>

    <div class="tabla" flex>
        <table mat-table class="table-hover" [dataSource]="dataSource" style="width: 100%;" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">
                    {{element.id }}
                </td>
            </ng-container>
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
                <td mat-cell *matCellDef="let element">
                    {{element.activo }}
                </td>
            </ng-container>
            <ng-container matColumnDef="numeroPresupuesto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. del Presupuesto</th>
                <td mat-cell *matCellDef="let element">
                    {{element.numero}}
                </td>
            </ng-container>
            <ng-container matColumnDef="numeroSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. de Solicitud</th>
                <td mat-cell *matCellDef="let element">
                    {{element.numeroSolicitud }}
                </td>
            </ng-container>
            <ng-container matColumnDef="solicitudCompraId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    {{element.solicitudCompraId }}
                </td>
            </ng-container>
            <ng-container matColumnDef="proveedor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
                <td mat-cell *matCellDef="let element">
                    {{element.proveedor }}
                </td>
            </ng-container>
            <ng-container matColumnDef="proveedorId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor Id</th>
                <td mat-cell *matCellDef="let element">
                    {{element.proveedorId }}
                </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let element">
                    {{element.fecha }}
                </td>
            </ng-container>
            <ng-container matColumnDef="fechaVencimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha vencimiento</th>
                <td mat-cell *matCellDef="let element">
                    {{element.fechaVencimiento }}
                </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let element">
                    {{element.total }}
                </td>
            </ng-container>
            <ng-container matColumnDef="gest">

                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="accent" matTooltip="mostrar" matTooltipPosition="before" matSuffix
                        mat-icon-button aria-label="mostrar">
                        <mat-icon>zoom_in</mat-icon>
                    </button>
                    <button mat-button color="accent" matTooltip="Indicar" matTooltipPosition="before" matSuffix
                        mat-icon-button aria-label="Indicar">
                        <mat-icon>forward</mat-icon>
                    </button>
                    <button mat-button color="accent" matTooltip="Modificar" matTooltipPosition="before" matSuffix
                        mat-icon-button aria-label="Modificar" [routerLink]="['modificar-presupuesto', element.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button matTooltip="Eliminar" matTooltipPosition="before" matSuffix mat-icon-button
                        aria-label="Eliminar" (click)="onDeletePresupuesto(element)">
                        <mat-icon>clear</mat-icon>
                    </button>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;" class="element-row">

            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 15,20]"></mat-paginator>
    </div>


</div>