mat-form-field {
    margin-right: 12px;
}


.tabla {
  width: 100%;
}
th, td {
  width: 16.6%;
}

.button{
  margin-bottom: 3em;
}

.datepickerDesde, .datepickerHasta, .buscarPresupuesto{
  padding: 1em;
}